page-dengue {
    #dengueColbg{
        background: color($colors, dengubg);
    }
    .redcol {
        color: #bf0101;
    }
    .card-body {
    }
    .card-body ul li {
        padding:  5px 0px 5px 0px;
    }
}