page-contactushindi {
    .card-body {

    }
    .card-body ul li {
        padding: 3px 0px 2px 2px;
        color:  #000000;
        list-style-type: none;
    }
    .card-body ul li span {
        font-weight: 600;
    }
    .card-body ul li ul li {
        padding: 3px 0px 3px 1px;
        color:  #000000;
        list-style-type: none;
    }
    .hdColNor1 {
        color: #012e80;
    }
    .hdColNor2 {
        color: #012e80;
        font-size: 16px;
        line-height:  22pxl
    }
    .hd2ColNor2 {
        color: #e10000;
    }
    .hd3ColNor2 {
        color: #012e80;
        font-size: 17px;
        line-height:  22pxl
    }
    .listinSTYgnone {
        list-style-type: none;
    }
    .bgspecial {
        background: url(../assets/imgs/contactus-bg.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
