page-sosmaineng {
    .button-md{
        height:  auto;
        background-color:  transparent;
    }
    .button-ios{
        height:  auto;
        background-color:  transparent;
    }
    .button-wp {
        height:  auto;
        background-color:  transparent;
    }
    .sos-bg {
        background: url(../assets/imgs/SOS-BG.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 20% 0 20% 0;
    }
}
