page-denguesymptomsbngli {
    .card-body {

    }
    .card-body ul li {
        padding: 4px 0px 4px 0px;
        list-style-type: none;
    }
    .bgspecial {
        background: url(../assets/imgs/blood-bg-1.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
