page-sosinfo {
    .block-header-one {
        font-size: 18px; 
        color: #ffffff; 
        background-color:#d70000; 
        padding: 2px 0px; 
        text-align:center;
        text-transform: uppercase;
    }
    .block-header-two {
        font-size: 18px; 
        color: #ffffff; 
        background-color:#00429b; 
        padding: 2px 0px; 
        text-align:center;
        text-transform: uppercase;
    }

}
