page-boroughofficehindi {
    .card-body {
        margin: 3px 0px 3px 0px;
    }
    .card-body p {
        font-size:  17px;
        font-weight: 600;
    }
    .card-body ul li {
        list-style-type: none;   
        padding:  2px 0px 2px 0px;  
    }
}
